.explore {
    padding: 105px 0 299px;

    &__container {
        display: flex;
        justify-content: space-between;
    }
}

.content-container {

    &__paragraph {
        max-width: 600px;
        padding: 20px 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 42px;
        opacity: .5;
    }

    &__span {
        font-weight: 400;
        font-size: 24px;
        line-height: 52px;
        color: #1234E8;
    }

    &__discover::before,
    &__news::before {
        content: '';
        width: 24px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 10px 0 0;
    }

    &__discover::before {
        background-image: url('../../../images/discover.png');
    }

    &__news::before {
        background-image: url('../../../images/news.png');
    }

    &__button-container {
        display: flex;
        justify-content: space-around;
        padding-top: 60px;
    }
}

.explore-img-container {

    position: relative;
    z-index: -1;

    &__ellipse-blue {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        height: 366px;
        width: 366px;
        border-radius: 50%;
        background-color: #1234E8;
    }

    &__ellipse-white {
        height: 288px;
        width: 288px;
        border-radius: 50%;
        border: 10px dashed white;
        transform: rotate(90deg);
    }

    &__second-phones {
        position: absolute;
        width: 1025px;
        height: 986px;
        left: -140px;
        bottom: -230px;
    }
}