.trade-demo {

  &__container {
    position: relative;
  }

  &__img {
    position: absolute;
    height: 600px;
    width: 1069px;
    padding-top: 75px;
  }

  &__left {
    left: -1150px;
  }

  &__right {
    left: 800px;
  }

  &__ellipse {
    position: absolute;
    height: 869px;
    width: 869px;
    background-color: #1234E8;
    border-radius: 50%;
    opacity: .5;
    top: -50px;
    right: -900px;
    filter: blur(15rem);
    z-index: -1;

  }

  &__content {
    position: relative;
    max-width: 638px;
    max-height: 503px;
    padding: 82px 0;
  }

  &__content img {
    position: absolute;
    width: 100px;
    left: -35px;
  }

  &__title {
    padding: 20px 0 0;
    line-height: 74px;
  }

  &__paragraph {
    padding: 40px 0;
    max-width: 600px;
    line-height: 42px;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
  }

  &__button-container span {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
}