$color-blu: #1234E8;
$size-img: 64px;
$flex-display: flex;

%img-absolute {
    position: absolute;
    color: $color-blu;
    opacity: .06;
}

%little-img {
    color: $color-blu;
}

.trust-trade {
    position: relative;

    &__container {
        display: $flex-display;
        flex-direction: column;
        align-items: center;
        padding:169px 0 71px;
    }

    &__img-column {
        @extend %img-absolute;
        width: 441;
        height: 441px;
        left: 36px;
        bottom: 0;
    }

    &__img-safe {
        @extend %img-absolute;
        width: 292px;
        height: 305px;
        bottom: -58px;
        z-index: -1;
    }

    &__img-lock {
        @extend %img-absolute;
        width: 328px;
        height: 420px;
        right: -100px;
    }

    &__rules-container {
        display: $flex-display;
        justify-content: space-between;
        margin: 90px 0 60px;
    }

    &__rule-column {
        width: 50px;
        height: $size-img;
    }

    &__rule-safe {
        width: $size-img;
        height: 67px;
    }

    &__rule-lock {
        width: $size-img;
        height: $size-img;
    }

    &__button{
        z-index:-2;
    }
}