
.payment{

    &__background{
        background-color: #F6F6F6;
    }

    &__img-container {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 30px 0;

        img{
            cursor: pointer;
        }

    }



    &__text-container{
        text-align: center;
        padding-top: 20px;
    }

    &__text-container span{
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        opacity: .5;
    }
}