.payment-container {

    &__img-container {
        background-color: #F6F6F6;
        text-align: center;
        padding: 30px 0;
    }

    &__img-container img {
        max-width: 1230px;
    }

    &__text-container{
        text-align: center;
        padding-top: 20px;
    }

    &__text-container span{
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        opacity: .5;
    }
}