.footer-nav {

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 60px;
    }

    &__a:hover {
        color: green;
        transition-duration: 1.5s;
    }

    &__paragraph {
        max-width: 86%;
        margin: 20px 0 60px;
        letter-spacing: .7px;

    }

    &__paragraph span {
        opacity: .5;
        font-weight: 400;
        font-size: 14px;
    }

    &__risks h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }

    a {
        color: #111111;
        cursor: pointer;
        transition-duration: 1.5s;
    }

    a:hover {
        color: green;
        transition-duration: 1.5s;
    }


}