.nav-li {
    position: relative;
    margin: 0 15px;
    size: 16px;
    line-height: 16px;
    font-size: 16px;
   

    svg {
        margin: 0 0 2px 4px;
    }

    &__sub-nav {
        z-index: -1;
        opacity: 0;
        position: absolute;
        transition: 1s;
        left: 0;
        transform: rotateY(90deg);
    }

    &__sub-nav li {
        white-space: nowrap;
        padding: 3px 0;
    }
}

.nav-li:hover .nav-li {
    &__sub-nav {
        z-index: 1;
        opacity: 1;
        transform: rotateY(0);
    }

    &__sub-nav li{
transition-duration: 2s;    }

    &__sub-nav li:hover{
        background-color: green;
    }

    &__arrow {
        margin: 0 0 2px 4px;
        transform: rotate(180deg);
    }
}

li:hover {
    cursor: pointer;
}