.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
  //  background-color: white;  //белый по умолчанию
   // max-width: 1920px;  //ограничивающий контейнер у тебя уже есть
}
//впринцыпе этот файл не нужен