%div-language {
    content: '';
    display: inline-block;
    height: 14px;
    width: 24px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;

}

.search-bar {
    display: flex;
    max-height: 45px;
    justify-content: space-between;
    padding: 10.5px 0;

    &__container {
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    &__sub-search {
        display: flex;
        align-items: center;
    }

    &__button {
        background-color: white;
        border: none;
    }

    &__glass {
        height: 18px;
        width: 18px;
    }


    &__search {
        border: none;
        padding: 0 8px;
    }

    &__img {
        padding-right: 5px;
        height: 14px;
        width: 24px;
    }

    &__language-container {
        display: flex;
        position: relative;
        cursor: pointer;
    }

    &__arrow {
        margin: 5px 0 0 5px;
    }

    &__language-container:hover &__arrow {
        margin: 5px 0 0 5px;
        transform: rotate(180deg);
    }

    &__language-container:hover &__select {
        z-index: 1;
        display: inline-block;
        opacity: 1;
    }

    &__select {
        z-index: 990;
        position: absolute;
        opacity: 0;
        top: 100%;
        transition-duration: 1s;
    }

    &__select div:hover {
        background-color: green;
        transition-duration: 1.5s;
    }

    &__select div {
        display: flex;
    }

    &__div-Ru::before {
        @extend %div-language;
        background-image: url('../../../images/Ru.png');
    }


    &__div-uk::before {
        @extend %div-language;
        background-image: url('../../../images/uk.png');
    }


    &__div-usa::before {
        @extend %div-language;
        background-image: url('../../../images/usa.png');
    }

    &__div-pl::before {
        @extend %div-language;
        background-image: url('../../../images/pl.png');
    }
}