.headerNav {
    display: flex;
    min-width: 100%;
    background-color: #F6F6F6;
    align-items: center;
    justify-content: space-between;
    padding: 22.5px 280px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}






.headerNav span {
    width: 41px;
    height: 14px;
    padding: 0 7px;
    opacity: .5;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userLogo {
    height: 18px;
    width: 18px;
    opacity: .5;
    padding: 7px 0 0;
    
}

.button {
    background-color: #1234E8;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 16px 30px 15px;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 14px;

}